/*主体布局*/
.container{
    margin-top: 10px;
}
#shadowedbox{
    background-color: rgba(255,220,0,1);
}
#mainbox{
    background-color: rgba(255,0,0,0.1);
}


/*头像布局*/
.head_img{
    width: 50%;
    margin: 100px auto 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #000;
}
.head_img .inner_box{
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*对于css中的border，会从指定的宽度向内缩进*/
    border: 5px solid #fff;
}
.head_img img{
    width: 100%;
}

/*名字与能力项*/
.name{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.ability{
    text-align: center;
    color: #fff;
}

/*联系方式*/
.contact_icon_box{
    width: 90px;
    height: 30px;
    margin: 0 auto;
}
.contact_icon_box i:nth-child(1){
    width: 30px;
    height: 100%;
    display: inline-block;
    background-image: url("../icon/QQ.png");
    background-size: cover;
}
.contact_icon_box i:nth-child(2){
    width: 30px;
    height: 80%;
    margin-left: 20px;
    display: inline-block;
    background-image: url("../icon/wechat.png");
    background-size: cover;
}
.contact_number{
    margin-top: 40px;
}
.contact_number p{
    text-align: center;
}
.contact_number span{
    font-weight: bold;
    margin-right: 10px;
}
hr{
    margin-top: 40px;
    height: 3px !important;
    /*border: 3px;*/
}
.self_intro{
    width: 80%;
    margin: 20px auto;

}
.self_intro h5{
    text-align: center;
    margin: 40px;
    font-weight: bold;
}
.self_intro p{
    text-indent: 30px;
}


/*在校经历*/
.school,.competion{
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
}
.school .school_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../icon/school.png");
    background-size: cover;
    vertical-align: middle;
}
.competion .com_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../icon/competition.png");
    background-size: cover;
    vertical-align: middle;
}
.school h6,.competion h6{
    display: inline-block;
    font-weight: bold;
}
.school_exp,.com_exp{
    margin-top: 30px;
    margin-left: 10%;
}
.school_exp p,.com_exp p{
    font-weight: bold;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.school_exp ul,.com_exp ul{
    display: inline-block;
    width: 65%;
}





